body {
  font-family: "Mali-Medium";
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(360deg, powderblue 1%, peachpuff 75%);
  position: relative;
  height: auto;
  width: auto;
  color: royalblue;
  text-shadow: 0 0 20px rgb(255, 255, 254);
}

a {
  color: #eda5a5;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* NAV */

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  z-index: 3;
  background-color: cornflowerblue;
}

.Nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
  overflow: hidden;
  background-color: cornflowerblue;
}

.Nav .link {
  display: flex;
  justify-content: space-evenly;
}

.Nav li a {
  display: block;
  padding: 20px 20px;
  border-right: none;
  text-decoration: none;
  font-size: 23px;
  font-family: "Mali-Bold";
}

.Nav li a:hover,
.menu-btn:hover {
  background-color: #f4f4f4;
}

.Nav .menu {
  display: flex;
  justify-content: space-evenly;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.Nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.Nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.Nav .menu-icon .navicon:before,
.Nav .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.Nav .menu-icon .navicon:before {
  top: 5px;
}

.Nav .menu-icon .navicon:after {
  top: -5px;
}

.Nav .menu-btn {
  display: none;
}

.Nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.Nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.Nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.Nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.Nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.Nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media all and (min-width: 48em) {
  .Nav li {
    float: left;
  }
  .Nav li a {
    padding: 20px 30px;
  }
  .Nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .Nav .menu-icon {
    display: none;
  }
}

.app-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali", sans-serif;
  margin-top: 5px;
  font-size: 7vw;
  color: rgb(255, 248, 242);
  letter-spacing: 2px;
  text-shadow: 0 0 15px rgb(238, 116, 10);
}

/* ABOUT */

.dancing-broccoli {
  height: 385px;
}

/* CONTACT */
.social-media {
  list-style: none;
}

/* BOXES  */

.blurb-box {
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px 20px 20px 20px;
  width: 40%;
}

.exercise-list-box {
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px 20px 20px 20px;
  width: 40%;
}

.api-box {
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px 20px 20px 20px;
  width: 40%;
}

.weightless-exercise-box {
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px 20px 20px 20px;
  width: 40%;
}
